div.container{
display: flex;
align-items: center;
}
#img1{
width:300px;
height:240px;
}
#img{
width:300px;
height:240px;
}
header.shapka {
height: 100px;
background-color:#ed5727;
color: whitesmoke;
width:100%;
}
TABLE{
padding-left: 15px;
padding-bottom: 15px;
}
nav.r{
display:block;
align-items:center;
}
div.log{
display:block;
align-items:center;
}
#log {
width: 100px;
height: 100px;
float: left;
}
div.container{
flex-direction:column;
}
div.t{
color:#ed5727;
font-size: 125%;
width: 100%;
align-items: center;
}

.nav {
max-width: 960px;
margin:auto;
}
div a{
text-decoration: none;
}
.nav div {
display: inline-block;
}
.button{
background-color: whitesmoke;
border-radius: 3px;
border: 1px;
font-family: Arial;
font-size: 20px;
width: 250px;
text-align: center ;
margin-bottom: 4px;
padding: 10px;
}

@media screen and (min-width:850px)
{
.nav {
max-width: 960px;
margin:auto;
}
.nav div {
display: inline-block;
}
div a{
text-decoration: none;
}
.button{
background-color:whitesmoke;
border-radius: 3px;
border: 1px;
font-family: Arial;
font-size: 20px;
width: 200px;
text-align: center ;
margin-bottom:4px;
padding: 10px;
}
div a{
text-decoration: none;
}

div.container{
flex-direction: column-reverse;
align-items: center;
}
#img1{
width:700px;
height:600px;
}
div.t{
color: #ed5727;
font-size: 125%;
width: 70%;
align-items: center;
}

header.shapka{
width:100%;
background-color:#ed5727;
padding: 10px;
height:190px;
}
#log{
float:left;
margin-left:155px;
width:170px;
height:170px;
margin-right: 10px;
margin-top: 10px;
}

div.log{
display:flex;
justify-content:space-around;
align-items:center;
flex-wrap:wrap;
}
}
tr.even {
background: #ed5727;
}
footer.k{
background-color:#ed5727;
height:30px;
border: 10px;
}
TABLE {
border: 1px solid black;
width: 100%;
}
td,tr,th {
border: 1px solid black;
}
